<h1>Thank you!</h1>

<h2>Thank you for your feedback, here is the data we recieved</h2>

<h3> name: {{ name }}</h3>
<h3>email: {{ email }}</h3>
<h3>comments: {{ comments }}</h3>
<h3>currentStudent: {{ current-student }}</h3>

<p><a href="/">Back to homepage</a></p>